@model IEnumerable<CarApp.Models.User>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>These are the users:</h1>

<div class="row">
    <div class="col-6">

        @foreach (var user in Model)
        {
            <div class="card">

                <div class="card-header">
                    <h5>@user.Firstname @user.Lastname</h5>
                </div>

                <div class="card-body">
                    <p>Firstname: @user.Firstname</p>
                    <p>Lastname: @user.Lastname</p>
                    <p>Age: @user.Age</p>

                    <form asp-controller="User" asp-action="RemoveUser" method="post">

                        <input type="hidden" name="id" asp-for="@user.UserId" class="form-control" />

                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>

                </div>

                <div class="card-footer">
                </div>

            </div>
        }


    </div>
</div>