@model IEnumerable<CarApp.Models.CarAuction>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>These are the cars:</h1>

<div class="row">
    <div class="col-6">

        @foreach (var carAuction in Model)
        {
            <div class="card">

                <div class="card-header">
                    <h5>@carAuction.Car.Brand @carAuction.Car.Model</h5>
                </div>

                <div class="card-body">
                    <p>Seller: @carAuction.User.Firstname @carAuction.User.Lastname</p>
                    <p>License Plate: @carAuction.Car.LincensePlate</p>
                    <p>Engine: @carAuction.Car.Engine</p>
                    <p>Build Year @carAuction.Car.BuildYear</p>
                    <p>Body Type: @carAuction.Car.bodyType</p>
                    <form asp-controller="Cars" asp-action="BuyCar" method="post">

                        <input type="hidden" name="id" asp-for="@carAuction.Car.CarId" class="form-control" />
                      
                            <button type="submit" class="btn btn-primary">Buy</button>
                    </form>
                    
                </div>

                <div class="card-footer">
                </div>

            </div>
        }


    </div>
</div>